* text=auto !eol
/Makefile -text
/cable_carbon.f90 -text
/cable_cbm.f90 -text
/cable_checks.f90 -text
/cable_driver.f90 -text
/cable_drivertxt.f90 -text
/cable_input.f90 -text
/cable_output.f90 -text
/cable_outputtxt.f90 -text
/cable_parameters.f90 -text
/cable_soilsnow.f90 -text
/cable_variables.f90 -text
surface_data/fort.22 -text
surface_data/lai48.nc -text
surface_data/veg_parm.txt -text
