* text=auto !eol
/ateb.f90 -text
/cable_air.F90 -text
/cable_albedo.F90 -text
/cable_canopy.F90 -text
/cable_carbon.F90 -text
/cable_ccam2.f90 -text
/cable_define_dimensions.F90 -text
/cable_define_types.F90 -text
/cable_math_constants.F90 -text
/cable_other_constants.F90 -text
/cable_photosynthetic_constants.F90 -text
/cable_physical_constants.F90 -text
/cable_radiation.F90 -text
/cable_roughness.F90 -text
/cable_soilsnow.F90 -text
/cable_variables.F90 -text
/carbpools.h -text
/esfsw_driver.f90 -text
/esfsw_parameters.f90 -text
/gas_tf.f90 -text
/longwave_clouds.f90 -text
/longwave_fluxes.f90 -text
/longwave_params.f90 -text
/longwave_tables.f90 -text
/lw_gases_stdtf.f90 -text
/makefile -text
/microphys_rad.f90 -text
/mlo.f90 -text
/optical_path.f90 -text
/parmgeom.h -text
/parmsurf.h -text
/rad_utilities.f90 -text
/seaesfrad.f90 -text
/sealw99.f90 -text
/soilbal.h -text
/soilsnin.h -text
/stacklimit.c -text
/tkeeps.f90 -text
/vegpar.h -text
